
<div class="container">
    <div class="row justify-content-center">
        <div style="min-width: 400px;">
            <h2 class="mt-5 text-center">Recupera o cambia la contraseña</h2>
            <form action="/forgot-password" method="post" id="forgot-password-form">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Enviar link al correo</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('forgot-password-form').addEventListener('submit', function (e) {
        e.preventDefault()

        const email = document.getElementById('email').value

        fetch(this.action, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email })
        })
        .then(response => response.text())
        .then(message => {
            Swal.fire({
                icon: 'info',
                title: 'Información',
                text: message
            }).then(() => {
                window.location.href = '/'
            })
        })
        .catch(error => {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Error al enviar el correo de recuperación'
            })
        })
    })
</script>
